{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
      "no-console": "off",
      "quotes": [2, "backtick"]
  }
}
